<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='common_light.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='home_light.css') }}">
    {% if session.get('settings').get('theme') == 'dark' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='home_dark.css') }}">
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='report_light.css') }}">
    {% if session.get('settings').get('theme') == 'dark' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='common_dark.css') }}">
    {% endif %}
    <title>ScreenTime Report</title>
</head>
<body>
    <svg id="home" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 10L12 3L20 10L20 20H15V16C15 15.2044 14.6839 14.4413 14.1213 13.8787C13.5587 13.3161 12.7957 13 12 13C11.2044 13 10.4413 13.3161 9.87868 13.8787C9.31607 14.4413 9 15.2043 9 16V20H4L4 10Z"/><path d="M3.99999 10L12 3L20 10L20 20H15V16C15 15.2044 14.6839 14.4413 14.1213 13.8787C13.5587 13.3161 12.7956 13 12 13C11.2043 13 10.4413 13.3161 9.87868 13.8787C9.31607 14.4413 9 15.2043 9 16V20H4L3.99999 10Z"/></svg>
    <h1>Weekly ScreenTime Report</h1>
    
    <form id="aggregation-form">
        <label>
            <input type="radio" name="aggregation-level" value="weekly" checked> Weekly
        </label>
        <label>
            <input type="radio" name="aggregation-level" value="monthly"> Monthly
        </label>
    </form>

    <div id="report">
        <div id="daily-usage-chart">
            <!-- Plotly daily usage graph will be rendered here -->
        </div>
        <div id="tops">
            <h2>Top 3 Apps</h2>
            <div id="top_apps">
                <!-- Apps icons and names to be rendered here -->
            </div>
            <h2>Top 3 Websites</h2>
            <div id="top_websites">
                <!-- Apps icons and names to be rendered here -->
            </div>
        </div>
    </div>


    <script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        function fetchReport(selectedLevel) {
            fetch(`/get-report?level=${selectedLevel}`)
            .then(response => response.json())
            .then(data => {
                // update daily usage graph
                var graph = JSON.parse(data.graphJSON)
                if (!graph) {
                    var errorMessage = data.message || 'No data available';
                    var errorInput = document.querySelector('input[name="aggregation-level"]:checked');
                    if (errorInput) {
                        errorInput.checked = false;
                        errorInput.setCustomValidity(errorMessage);
                        errorInput.reportValidity();
                        return;
                    }
                }
                Plotly.newPlot('daily-usage-chart', graph.data, graph.layout, {'displayModeBar': false});
                // renders top apps
                var topAppsDiv = document.getElementById('top_apps');
                topAppsDiv.innerHTML = '';
                data.topApps.forEach(app => {
                    var appDiv = document.createElement('div');
                    appDiv.className = 'app';
                    var appImage = document.createElement('img');
                    appImage.src = `/Icons/${app}.ico`;
                    appImage.alt = 'App Icon'
                    var appName = document.createElement('p');
                    appName.innerHTML = app;
                    appDiv.appendChild(appImage);
                    appDiv.appendChild(appName);
                    topAppsDiv.appendChild(appDiv);
                });
                // renders top websites
                var topWebsitesDiv = document.getElementById('top_websites');
                // fetch websites images
                var topWebsitesDiv = document.getElementById('top_websites');
                topWebsitesDiv.innerHTML = '';
                data.topWebsites.forEach(website => {
                    var websiteDiv = document.createElement('div');
                    websiteDiv.className = 'app';
                    var websiteImage = document.createElement('img');
                    websiteImage.src = `/Websites_Icons/${website}.ico`;
                    websiteImage.alt = 'Website Icon'
                    var websiteName = document.createElement('p');
                    websiteName.innerHTML = website;
                    websiteDiv.appendChild(websiteImage);
                    websiteDiv.appendChild(websiteName);
                    topWebsitesDiv.appendChild(websiteDiv);
                });
                
            })
            .catch(error => console.error('Error updating app usage graph:', error));
        }
        window.onload = () => {
            fetchReport('weekly');
        }
        document.querySelectorAll('input[name="aggregation-level"]').forEach(function(element) {
            element.addEventListener('change', function() {
                const selectedLevel = this.value;
                fetchReport(selectedLevel);
                document.getElementsByName('h1').innerHTML = `${selectedLevel.capitalize()} ScreenTime Report`;
            });
        });
    </script>
    <script>
        // redirect to index page on back arrow click
        document.getElementById('home').addEventListener('click', function() {
            window.location.href = '/';
        });
    </script>
</body>
</html>