body {
    font-family: Solway, sans-serif;
    background-color: #f7f7f7;
    margin: 0 40px;
    padding: 0;
}
h1 {
    text-align: center;
    color: #A61436;
    font-family: 'Solway';
    font-size: 50px;
    font-weight: 700;
}
h2 {
    color: #A61436;
    font-family: 'Solway';
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
#dayHours {
    font-family: 'Solway';
    font-weight: 500;
    font-size: 20px;
    color: #A61436;
}

/* Styling for the forms */
form {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}
form input {
    cursor: pointer;
}
/* Input field (date picker) styling */
#date-form input[type="date"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.8s;
}

#date-form input[type="date"]:focus {
    border-color: #636efa;
}

/* Aggregation level radio button styling */
#aggregation-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    cursor: pointer;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border: 2px solid #A61436;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background-color: #f7f7f7;
    vertical-align: middle;
    margin-right: 5px;
}

input[type="radio"]:checked {
    background-color: #A61436;
    border-color: #A61436;
    position: relative;
}

/* Form container styling */
#aggregation-form {
    padding: 10px;
}

#aggregation-form label:hover input[type="radio"] {
    border-color: #636efa;
    transition: 0.3s;
}

/* Submit buttons and input fields hover effect */
input[type="date"]:hover {
    border-color: #636efa;
    box-shadow: 0 0 5px rgba(99, 110, 234, 0.3);
}

input[type="radio"]:hover {
    box-shadow: 0 0 5px rgba(99, 110, 234, 0.3);
}

/* export button */
#export-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-family: inherit;
    background-color: #636efa;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
#export-btn:hover {
    background-color: #464db1;
}

/* theme changer */
#theme-toggle {
    padding: 10px 15px;
    font-size: 16px;
    font-family: inherit;
    /* background-color: #636efa; */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
svg#theme-toggle {
    width: 30px;
    aspect-ratio: 1/1;
    fill: #636efa;
}