/* nav menu */
#nav-menu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: right;
    gap: 5px;
    width: fit-content;
    padding: 10px;
    background-color: var(--purple);
    border-radius: 20px;
    position: absolute;
    top: -250px;
    right: 60px;
    z-index: 1;
    transition: 1s;
}
#nav-menu a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
#nav-menu a:hover {
    background-color: #464db1;
}
#nav-menu svg {
    fill: var(--white);
    width: 20px;
    aspect-ratio: 1/1;
}
#nav-menu-toggler {
    position: absolute;
    top: 65px;
    right: 80px;
    width: 40px;
    aspect-ratio: 1/1;
    fill: var(--white);
    padding: 50px;
    padding-top: 0;
    cursor: pointer;
}
#nav-menu-toggler:hover + #nav-menu {
    display: flex;
    top: 50px;
}
#nav-menu:hover {
    display: flex;
    top: 50px;
}


#dayHours {
    font-family: 'Solway';
    font-weight: 500;
    font-size: 20px;
    color: var(--red);
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    gap: 20px;
}
/* forms styling */
form {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}
form input {
    cursor: pointer;
}


/* date selector styling */
#date-form input[type="date"] {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.8s;
}
#date-form input[type="date"]:focus {
    border-color: var(--purple);
}
input[type="date"]:hover {
    border-color: var(--purple);
    box-shadow: 0 0 5px rgba(99, 110, 234, 0.3);
}


/* aggregation level radios */
#aggregation-form {
    padding: 10px;
}
#aggregation-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    cursor: pointer;
}
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border: 2px solid var(--red);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background-color: var(--white);
    vertical-align: middle;
    margin-right: 5px;
}
input[type="radio"]:checked {
    background-color: var(--red);
    border-color: var(--red);
    position: relative;
}
#aggregation-form label:hover input[type="radio"] {
    border-color: var(--purple);
    transition: 0.3s;
}
input[type="radio"]:hover {
    box-shadow: 0 0 5px #636eea4d;
}
