.settings-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    gap: 20px;
    width: fit-content;
    margin: 40px auto;
    margin-top: 150px;
    padding: 20px 100px;
    background-color: var(--purple);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.settings-container .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: fit-content;
    gap: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--purple);
    transition: background-color 0.5s ease;
    cursor: pointer;
}
.settings-container .row:hover {
    filter: brightness(0.8);
}
.settings-container .row:nth-child(3) {
    cursor: unset;
}
.settings-container .row:nth-child(3):hover {
    filter: none;
}
/* svgs */
svg {
    padding: 10px;
    width: 30px;
    aspect-ratio: 1/1;
    fill: var(--red);
    cursor: pointer;
    transition: .5s;
}
svg#home {
    width: 50px;
    position: absolute;
    top: 45px;
    left: 60px;
}
svg#home path {
    fill: none;
    stroke-width: 1px;
    stroke: var(--red);
    transition: fill 0.5s ease;
}
svg#home:hover path {
    fill: var(--red);
    stroke-width: 2px;
}


form {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: inherit;
}
#goal-input {
    border: none;
    background: transparent;
    font-weight: bold;
    color: var(--red);
    font-size: 24px;
    width: 40px;
    text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 5px 0;
    width: 14px;
    height: 28px;
    opacity: 0.7;
    background-color: var(--purple);
    border: 1px solid #ccc;
    vertical-align: middle;
}